<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TP DevOps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Clients</h1>
<form method="POST">
    Nom: <input type="text" name="nom">
    Prénom: <input type="text" name="prenom">
    Date de Naissance: <input type="text" name="date_naissance">
    Adresse: <input type="text" name="adresse">
    Code Postal: <input type="text" name="cp">
    Ville: <input type="text" name="ville">
    <input type="submit" value="Ajouter">
</form>

<ul>
    {% for client in clients %}
    <li>
        {{ client.nom }} {{ client.prenom }} - {{ client.adresse }}, {{ client.cp }}, {{ client.ville }}
        <a href="{{ url_for('edit', id=client.id) }}">Modifier</a>
        <a href="{{ url_for('delete', id=client.id) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce client ?');">Supprimer</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>
